{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "prefer-promise-reject-errors": 0,
    "no-plusplus": 0
  }
}
